<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>CREATE NEW ENTRY</title>
  </head>
  <body>
    <h1>CREATE NEW POST</h1>

    <form action="/movies" method="POST">
      <input type="text" name="movie[title]" placeholder="title" />
      <input type="text" name="movie[desc]" placeholder="description" />
      <input type="text" name="movie[length]" placeholder="length" />
      <button>SUBMIT</button>
    </form>
  </body>
</html>
